src/
node_modules/
tsconfig.json
.github/
.gitignore
.npmignore
media/
public/
lib/
data/
components/
app/
.next/
components.json
build/app/*
build/lib/*
build/components/*
build/data/*
build/tailwind*
build/tsconfig*
build/app-config*
next*
postcss*
tailwind*
app-config*
